<launch>
    <arg name="use_rviz" default="true" />
    <arg name="do_calibrate" default="false"/>
    <arg name="camera_name" default="seek_thermal"/>
    <arg name="offline" default="false"/>
    <group>
        <push_ros_namespace namespace="$(var camera_name)"/>
        <node pkg="seek_thermal_88" exec="seek_wrapper_node" output="screen" respawn="true">
            <param name="do_calibrate" value="$(var do_calibrate)"/>
            <param name="offline" value="$(var offline)"/>
        </node>
        <node pkg="image_proc" exec="image_proc" name="image_proc"/>
    </group>

    <node exec="rviz2" name="seek_rviz" pkg="rviz2" args="-d $(find-pkg-share seek_thermal_88)/config/seek.rviz" if="$(var use_rviz)" />
</launch>